:root {
  --font-stack: Hanken Grotesk, sans-serif;
  --font-weight-500: 500;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-size-p: 18px;
  --color-light-red: hsl(0, 100%, 67%);
  --color-orange-yellow: hsl(39, 100%, 56%);
  --color-green-teal: hsl(166, 100%, 37%);
  --color-cobalt-blue: hsl(234, 85%, 45%);
  --gradient-light-slate-blue: hsl(252, 100%, 67%);
  --gradient-light-royal-blue: hsl(241, 81%, 54%);
  --gradient-violet-blue: hsl(256, 72%, 46%);
  --gradient-persian-blue: hsl(241, 72%, 46%);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-pale-blue: hsl(221, 100%, 96%);
  --neutral-light-lavender: hsl(241, 100%, 89%);
  --neutral-dark-gray-blue: hsl(224, 30%, 27%);
}

* {
  font-family: var(--font-stack);
}

body {
  margin: 0;
  font-size: var(--font-size-p);
}

.container {
  width: 100vw;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
}
@media screen and (min-width: 840px) {
  .content {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 800px;
  }
}

.result-section {
  color: var(--neutral-white);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to bottom, var(--gradient-light-slate-blue), var(--gradient-persian-blue));
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  min-height: 50%;
}
@media screen and (min-width: 840px) {
  .result-section {
    border-radius: 30px;
    width: 400px;
  }
}

.result-section-main-heading {
  font-size: var(--font-size-p);
}

.result-num {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  background: linear-gradient(to bottom, var(--gradient-light-royal-blue), var(--gradient-persian-blue));
}

.main-num {
  font-size: 68px;
  font-weight: var(--font-weight-800);
}

.side-num-text {
  color: var(--neutral-light-lavender);
  font-size: 16px;
  font-weight: var(--font-weight-500);
}

.results-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.results-text-main {
  margin-bottom: 0;
}

.results-text-side {
  font-size: 16px;
  color: var(--neutral-light-lavender);
  text-align: center;
  margin: 10px 60px 20px 60px;
}

.summary-section {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 10px 30px;
}
@media screen and (min-width: 840px) {
  .summary-section {
    width: 400px;
  }
}

.summary-section-main-heading {
  font-size: var(--font-size-p);
  margin-top: 5px;
}

.summary-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: grey;
}

.img-text {
  display: flex;
  margin-left: 5px;
}

.summary-item-number {
  color: var(--neutral-dark-gray-blue);
  font-weight: var(--font-weight-800);
}

.reaction, .memory, .visual, .verbal {
  margin-left: 10px;
}

.reaction {
  color: var(--color-light-red);
}

.memory {
  color: var(--color-orange-yellow);
}

.verbal {
  color: var(--color-green-teal);
}

.visual {
  color: var(--color-cobalt-blue);
}

button {
  border: none;
  border-radius: 30px;
  background-color: var(--neutral-dark-gray-blue);
  color: var(--neutral-white);
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-700);
  padding: 15px;
}

/*# sourceMappingURL=styles.css.map */
